# Día 1 (#100DaysOfCode)

## 1. Comentarios

In [42]:
# Este es un primer paso para programar en python
"""
Primero comentamos 
varias lineas con las dobles comillas tres veces
"""
# Ahora hacemos un print
print("hola mundo, soy gerson")

hola mundo, soy gerson

## 2. Tipos de datos

In [45]:
cadena = "Hola soy gerson"
print(type(cadena))

entero = 1
print(type(entero))

decimal = 1.1
print(type(decimal))

buleano = True
print(type(buleano))

complejo = 2+4j
print(type(complejo))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## 3. Variables (nomenclatura)

In [15]:
# Ejemplos de buenas practicar para nombrar variables

# camelCase (No es de buenas practicas)

miVariable = "variable en formato camelCase" 
print(miVariable)

# snake_case (Es de buena practica)

mi_variable = "variable en formato snake_case"
print(mi_variable)

segunda_variable2 = 64
print(otra_variable1)

tercera_variable3 = True
print(tercera_variable)

variable en formato camelCase
variable en formato snake_case
64
True

## 4. Más sobre la función ```print```

In [26]:
# Concatena las variables separadas por comas en una sola cadena de texto concatenada
print(mi_variable, segunda_variable2)
print("Concatenando el valor de: ", segunda_variable2)

variable en formato snake_case 64
Concatenando el valor de:  64

## 5.  Transformaciones de datos

In [31]:
# Entero a caracter
var_entero = 54
var_caracter = str(var_entero)
print(type(var_caracter))

# Caracter a entero
var_cadena = '10'
var_entero = int(var_cadena)
print(type(var_entero))

# caracter a decimal
var_cadena = "10"
var_decimal = float(var_cadena)
print(type(var_decimal))

<class 'str'>
<class 'int'>
<class 'float'>

## 6. Operaciones

In [40]:

a = 5
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(a % b)

8
2
15
1.6666666666666667
125
1
2

## 7. Tamaño de una cadena

In [25]:
print(len("un valor"))

8

## 8. Variables en una línea

In [30]:
var1, var2, var3, var4, var5 = "dato1", "dato2", "dato3", 23, True
print(var1, var2, var3, var4, var5)

dato1 dato2 dato3 23 True