# Día 7 (#100DaysOfCode)

In [5]:
# Continuacion de tuplas
# Continen elementos de diferentes tipos

lista0 = ['cadena',3,4.5,True,[1,2,3]]

## 1. Obtener valores con índices

In [11]:
lista0[0], lista0[1], lista0[2]

('cadena', 3, 4.5, [1, 2, 3])

In [12]:
lista0[-1], lista0[-2],lista0[-3]

([1, 2, 3], True, 4.5)

## 2. Almacenamiento de valores de una lista

In [20]:
# desempaquetado de valores de una lista
# con *variable guardamos el resto de la lista
one, two, three, *est = lista0

In [19]:
one, two, three, est

('cadena', 3, 4.5, [True, [1, 2, 3]])

In [23]:
countries = ['Germany', 'France','Belgium','Sweden','Denmark','Finland','Norway','Iceland','Estonia']
gr, fr, bg, sw, *scandic, ic, es = countries
print(gr)
print(fr)
print(bg)
print(sw)
print(scandic)
print(ic)
print(es)

Germany
France
Belgium
Sweden
['Denmark', 'Finland', 'Norway']
Iceland
Estonia

## 3. Obtención de sublistas

In [35]:
lista = ['Juan', 'Carlos', 'Rodrigo', 'Pedro', 'Gerson']

print(lista[0:3]) #tres primeros elementos
print(lista[0:]) #todos los elementos
print(lista[1:3])
print(lista[::2]) # el paso del recorrido es de 2 en 2

['Juan', 'Carlos', 'Rodrigo']
['Juan', 'Carlos', 'Rodrigo', 'Pedro', 'Gerson']
['Carlos', 'Rodrigo']
['Juan', 'Rodrigo', 'Gerson']

In [40]:
# con indices negativos

print(lista[-3:-1]) #tres primeros elementos
print(lista[-4:]) #todos los elementos
print(lista[1:3])
print(lista[::-2])

['Rodrigo', 'Pedro']
['Carlos', 'Rodrigo', 'Pedro', 'Gerson']
['Carlos', 'Rodrigo']
['Gerson', 'Rodrigo', 'Juan']

## 4. Modificación de listas

In [42]:
lista = ['Juan', 'Carlos', 'Rodrigo', 'Pedro', 'Gerson']

lista[0] = 'Pacheco'
lista[1] = 'saitama'
lista[2] = 'vegeta'
lista[-1] = 'Pereyra'

print(lista)

['Pacheco', 'saitama', 'vegeta', 'Pedro', 'Pereyra']

## 5. Verificación de valores en una lista con ```in```

In [45]:
cantantes = ['Adele', 'Ed Sheeran', 'Farruko', 'Don Omar', 'Laura Pausini']

print('Adele' in cantantes)
print('ed sheeran' in cantantes)

True
False

## 6. Agregar elementos ```.append()```

In [1]:
cosas = []
cosas.append('escoba')
cosas.append('tijera')
cosas.append('papel')
cosas

['escoba', 'tijera', 'papel']

## 7. Insertar ```.insert()```

In [51]:
ropa = ['casaca', 'pantalón', 'polo', 'medias']
ropa.insert(0, 'camisa') #admite dos valores, el primero es el lugar donde se va insertar y el segundo es el valor a agregar
ropa

['camisa', 'casaca', 'pantalón', 'polo', 'medias']

## 8. Eliminar ```.remove(valor)```

In [52]:
ropa = ['casaca', 'pantalón', 'polo', 'medias']
ropa.remove('casaca') 
ropa

['pantalón', 'polo', 'medias']

## 9. Eliminar ```.pop()```

In [56]:
ropa = ['casaca', 'pantalón', 'polo', 'medias']
ropa.pop() #elimina el ultimo item
ropa.pop(1) #elimina en a posición dada
ropa

['casaca', 'polo']

## 10. Eliminar ```del```

In [63]:
ropa = ['casaca', 'pantalón', 'polo', 'medias']
del ropa[0] #elimina solo un elemento en la posicion dada
del ropa #elimina la lista en su totalidad con la variable creada

## 11. Limpiar ```.clear()```

In [64]:
ropa = ['casaca', 'pantalón', 'polo', 'medias']
ropa.clear()
ropa

[]